*{
    font-family: poppins;
}


body{
    background-color: rgb(2, 2, 61);
    color: crimson;
}

#form{

    width: 300px;
    margin: auto;
}
#form h3{
    margin-top: 50px;
}

form textarea{
    background-color: rgb(5, 5, 61);
    color: white;
    border-radius: 5px;
    border: 2px solid crimson;
    margin-top: 10px;
}

button{
    background-color: crimson;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 5px 30px;
    margin-top: 10px;
}